/* REGISTER STYLE SHEET */
/* Register block */
.register{
  font-size: 1.3vw;
  --theme: 200;
  --padding: 1.2em;
  --spacing: 0.5em;
  --border: 0.2em;

  --r: calc(3em + 2*var(--padding) + 2*var(--border) + var(--spacing));

  padding: var(--spacing);
  border-radius: var(--r);
  border: var(--border) solid hsl(var(--theme), 100%, 40%);
  margin-bottom: var(--spacing);
  display: inline-flex;
}

/* Register Bit Circle */
.register > div{
  --r: calc(3em + var(--padding) + var(--border));
  border: var(--border) solid hsl(var(--theme), 100%, 40%);
  background: hsl(var(--theme), 100%, 10%);
  margin-right: 0.5em;
  border-radius: var(--r);
  line-height: 1em;
  position: relative;
  cursor: pointer;
}

/* last bit circle */
.register > div:last-of-type{
  margin-right: 0;
}


/* first bit circle */
.register > div:first-of-type{
  cursor: default;
  background: hsl(var(--theme), 100%, 20%);
}

/* Bit index title*/
.register > div h2{
  position: absolute;
  top: 0;
  left: 0;
  color: hsl(var(--theme), 100%, 30%);
  font-size: 1em;
  margin: var(--padding) var(--spacing);
  line-height: 3em;
  padding-right: 5px;
}

/* Bit information block*/
.register div > div{
  float: left;
  padding: var(--padding) 0;
  width: calc(3em + 2*var(--padding));
}

/* Bit information fields */
.register > div > div h3{
  color: hsl(var(--theme), 100%, 90%);
  font-size: 1em;
  margin: 0;
}



/* ------------------------------------------------------------------------------------------ */
/* HINTS STYLE SHEET */
/* Hint block */
#hints div{
  position: fixed;
  margin: 0;
  bottom: -100%;
  left: 0;
  background:  #e28800;
  color: white;
  border: 3px solid #9c5e00;
  border-radius: 50px 50px 0 0;
  margin-left: 27px;
  max-width: calc(100vh - 54px);
  padding: 0 30px;
  cursor: pointer;
}
#hints p{
  text-align: left;
}



/* ------------------------------------------------------------------------------------------ */
/* TEXT EDITOR STYLES */
/* Main box */
.editor-box {
  position: relative;
  display: inline-block;
  text-align: left;
  --theme: white;
}
/* Tool box */
.tool-box{
  user-select: none;
  position: absolute;
  top:0;
  right:0;
  padding: 10px;
}
/* Buttons */
.tool-box div{
  font-size: 15px;

  --border-size: calc(1em * 0.15);
  --padding: calc(1em * 0.2);
  --r: calc(0.5em + var(--border-size) + var(--padding));

  padding: var(--padding);
  border: var(--border-size) solid var(--theme);
  border-radius: var(--r);
  margin-bottom: 0.5em;
  line-height: 1em;
  width: 1em;
  color: white;
  text-align: center;
}

/* Editable div */
.doc{
  width: 540px;
  height: 200px;
  border: 3px solid var(--theme);
  padding: 0 10px;
  border-radius: 20px;
  outline: none;
}
.doc p{
  margin: 0;
}


/* ------------------------------------------------------------------------------------------ */
/* WAVE LOADER STYLES */
/* Main box */
.wave-load{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
